@include respond-to(small) {
  .top {
    h1 {
      font-size: em(23px);
      text-align: center;
    }
    .menu {
      width: 100%;
    }
    .menu-mobile {
      color: #fff;
      display: block;
      font-size: em(18px);
      font-weight: 200;
      margin: 0 auto;
      padding: 5px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      width: em(100px);
      .fills,
      .fill {
        width: em(20px);
      }
      .fills {
        position: absolute;
        left: 0;
        top: 0;
        margin: 16px 0px 0px 10px;
      }
      .fill {
        background: #fff;
        display: block;
        height: 2px;
        margin-bottom: 2px;
        width: em(15px);
      }
    }
    .menu-items {
      display: none;
    }
  }
}