@include respond-to(small) {
  .top {
    h1 {
      font-size: em(23px);
      text-align: center;
    }
    .menu {
      width: 100%;
      background: #efefee;
      .menu-items {
        padding-left: 3px;
        text-align: center;
      }
      li {
        font-size: em(11px);
        margin-right: em(5px);
      }
      a {
        padding: 8px 2px;
        color: #000;
        &:hover {
          color: #999;
        }
      }
    }
  }
}