@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 3, ../src/scss/mobile/_small.scss */
  .top h1 {
    font-size: 1.76923em;
    text-align: center;
  }
  /* line 7, ../src/scss/mobile/_small.scss */
  .top .menu {
    width: 100%;
    background: #efefee;
  }
  /* line 10, ../src/scss/mobile/_small.scss */
  .top .menu .menu-items {
    padding-left: 3px;
    text-align: center;
  }
  /* line 14, ../src/scss/mobile/_small.scss */
  .top .menu li {
    font-size: 0.84615em;
    margin-right: 0.38462em;
  }
  /* line 18, ../src/scss/mobile/_small.scss */
  .top .menu a {
    padding: 8px 2px;
    color: #000;
  }
  /* line 21, ../src/scss/mobile/_small.scss */
  .top .menu a:hover {
    color: #999;
  }
}
/* line 8, ../src/scss/app.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../src/scss/app.scss */
ol,
ul,
li {
  padding: 0;
  margin: 0;
}

/* line 19, ../src/scss/app.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 24, ../src/scss/app.scss */
body {
  font-family: 'Open Sans', sans-serif;
}
/* line 26, ../src/scss/app.scss */
body a {
  text-decoration: none;
}

/* line 31, ../src/scss/app.scss */
.top,
.main {
  width: 100%;
}

/* line 36, ../src/scss/app.scss */
.content-top,
.content-main {
  margin: 0 auto;
}

/* line 41, ../src/scss/app.scss */
.top .content-top {
  zoom: 1;
  background: #000;
  margin-bottom: 30px;
}
/* line 23, ../src/scss/_mixins.scss */
.top .content-top:before, .top .content-top:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 29, ../src/scss/_mixins.scss */
.top .content-top:after {
  clear: both;
}
/* line 46, ../src/scss/app.scss */
.top h1 {
  text-transform: uppercase;
  font-weight: bold;
}
/* line 49, ../src/scss/app.scss */
.top h1 a {
  color: #fff;
}
/* line 54, ../src/scss/app.scss */
.top .menu li {
  display: inline-block;
  text-transform: uppercase;
}
/* line 57, ../src/scss/app.scss */
.top .menu li:last-child {
  margin-right: 0;
}
/* line 60, ../src/scss/app.scss */
.top .menu li a {
  display: block;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

/* line 68, ../src/scss/app.scss */
.main {
  zoom: 1;
}
/* line 23, ../src/scss/_mixins.scss */
.main:before, .main:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 29, ../src/scss/_mixins.scss */
.main:after {
  clear: both;
}
