@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import 'compass/css3';
@import '_mixins';
@import 'mobile/_small';

*, 
*:before, 
*:after {
  @include box-sizing('border-box');
}

ol,
ul,
li {
  padding: 0;
  margin: 0;
}

img, video {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  a {
    text-decoration: none;
  }
}
.top,
.main {
  width: 100%;
}

.content-top,
.content-main {
  margin: 0 auto;
}

.menu,
.menu ul {
  float: left;
}

.top {
  .content-top {
    @include clearfix;
    background: #000;
  }
  h1 {
    text-transform: uppercase;
    font-weight: bold;
    a {
      color: #fff;
    }
  }
  .menu {
    li {
      a {
        display: block;
        color: #fff;
        @include single-transition(background, 0.6s, ease-in-out);
        &:hover {
          background: #fff;
          color: #000;
        }
      }
    }
   
  }
}
.main {
  @include clearfix;
}